.canvas {
  background-color: pink;
  display: flex;
  justify-content: center;
  width: 1120px;
  flex-wrap: wrap;
}

.block {
  background-color: white;
  height: 50px;
  width: 50px;
  margin: 10px;

}